/* სავაჭრო პოლიტიკა */
/* განვადება */
/* კარიერა */
/* trade in */

/* ფილიალები */
/* fonts */
/* Regular სტილის ფონტის განსაზღვრა */
/* Regular სტილის ფონტის განსაზღვრა */
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Regular.woff2") format("woff2"),
    url("../fonts/FiraGO-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Bold სტილის ფონტის განსაზღვრა */
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Bold.woff2") format("woff2"),
    url("../fonts/FiraGO-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

section {
  padding: 0px 15px;
}
.section-container {
  margin-top: 30px;
  margin-bottom: 60px;
  /* padding: 0px 20px; */
}
/* filter-bar */
.filter-bar__flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 8px;
  height: 70px;
  margin-bottom: 30px;
}
.filter-bar__page-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.filter-bar__page-title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.filter-bar__search-side {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* input */
.filter-bar__search-side-input {
  position: relative;
  width: 260px;
  height: 50px;
}

.filter-bar__search-side-input input {
  font-family: "Firago", sans-serif;
  padding: 15px 20px 15px 58px;
  outline: none;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #ec5e2a;
  height: 100%;
  width: 100%;
}
.filter-bar__search-side-input img {
  position: absolute;
  left: 22px;
  top: 26%;
}
/* dropdown */
/* .filter-bar__search-side-dropdown {
    position: relative;
    width: 260px;
    z-index: 9;
  } */
.filter-bar__search-side-dropdown {
  position: relative;
  /* transition: 0.3s; */
  width: 260px;
  display: flex;
  justify-content: center;
}
.selected-item {
  /* min-width: 160px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 16px;
  /* border: none; */
  cursor: pointer;
  height: 50px;
  width: 260px;
  transition: width 0.1s ease, height 0.1s ease;
}
.selected-item h3 {
  font-weight: 500;
  line-height: 17px;
  font-size: 14px;
  color: #00000099;
}
.selected-item .arrow-icon {
  transition: transform 0.3s ease;
}
.selected-item .arrow-icon.rotate {
  transform: rotate(180deg);
}
.dropdown-items-box {
  pointer-events: auto;
  width: 100%;
  margin-top: -7px;
  box-shadow: none;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  transform: none;
  position: absolute;
  top: 110%;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  z-index: 2;
  max-height: 330px;
  /* overflow-x: scroll; */
  background: rgb(255, 255, 255) !important;
  transition: opacity 0.5s ease;
  transform: translateY(20px);
}
.dropdown-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 12px;
  overflow-y: scroll;
}
/* 
  .dropdown-items {
    position: absolute;
    list-style-type: none;
  
    width: 100%;
  
    border-radius: 12px;
  
    opacity: 0;
    transform: none;
    background: #f2f2f2;
    overflow-y: scroll;
    height: 330px;
    transition: opacity 0.5s ease;
    transform: translateY(20px);
  } */
.visible {
  opacity: 1;
  transform: translateY(0px);
}
.dropdown-items::-webkit-scrollbar {
  width: 4px;
}

.dropdown-items::-webkit-scrollbar-thumb {
  background-color: #ec5e2a7c; /* სკროლ ბარის ფერი */
  border-radius: 5px;
  z-index: -9;
}
.dropdown-items::-webkit-scrollbar-thumb:hover {
  background-color: #ec5e2a; /* სკროლ ბარის ფერი */
}

.dropdown-items::-webkit-scrollbar-track {
  background: transparent; /* სკროლ ბარის ფონი */
}

.dropdown-items::-webkit-scrollbar-button {
  display: none; /* ისრების დამალვა */
}
.dropdown-item {
  padding: 15px 20px;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: #00000099;
  cursor: pointer;
  border-top: 2px solid white;
}
/* .dropdown-item {
    padding: 15px 20px;
    font-weight: 500;
  
    font-size: 14px;
    line-height: 17px;
    color: #00000099;
    cursor: pointer;
    border-top: 2px solid white;
  } */

.dropdown-item:hover {
  color: black;
}
/* checkbox */

/* დამალავს checkbox-ს */
.checkbox-img {
  display: none;
}

/* სტილი მონიშნული/არამონიშნული მდგომარეობისთვის */
.checkbox-div,
.checkbox-image {
  width: 20px;
  height: 20px;
  display: inline-block;
}

/* ცარიელი დივის სტილი */
.checkbox-div {
  border: 1px solid black;
  border-radius: 5px;
}

/* სურათის სტილი */
.checkbox-image {
  display: none; /* საწყისად დამალული */
}

/* როდესაც checkbox მონიშნულია */
.checkbox-img:checked + label .checkbox-div {
  display: none; /* დამალე ცარიელი დივი */
}

.checkbox-img:checked + label .checkbox-image {
  display: inline-block; /* აჩვენე სურათი */
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000cc;
  gap: 8px;
  cursor: pointer;
}

/* branches */
.branches__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
  margin-top: 20px;
}

.branches__grid--item {
  border-radius: 8px;
  background: #f2f2f2;
  padding: 10px 20px;
  width: 100%;
  height: 110px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
}
.branches__grid--item:hover {
  transform: scale(1.01);
}

.branches__grid--item.active {
  background-color: white;
  border: 1px solid #ec5e2a;
}
.contact-info-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}
.contact-info--city {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000cc;
}
.contact-info--tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ec5e2a;
}
.contact-info--street {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000cc;
  opacity: 0.8;
}
.working-hours {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}
.working-hours p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000cc;
  opacity: 0.8;
}

/* responsive */
.mobile {
  display: none;
  width: 100%;
}
.search-mobile {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .branches__grid {
    grid-template-columns: 1fr;
  }
  .filter-bar__search-side-input {
    display: none;
  }

  .filter-bar__search-side-dropdown {
    display: none;
  }
  .filter-bar__search-side-dropdown .selected-item {
    width: 100%;
  }
  .mobile {
    display: block;
  }

  .dropdown-mobile {
    display: block;
    margin-bottom: 20px;
  }
  .filter-bar {
    margin-top: 13px;
  }
  section {
    padding: 0px 20px;
  }
  .dropdown-items-box {
    margin-top: -5px;
  }
}

/* ყველა აქცია */

/* სავაჭრო პოლიტიკის გვერდის სტილები */
.trade__politics {
  font-size: 1.4rem;
}
.page__header {
  padding: 2rem;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.6rem;
}

.trade-politics-seconde-title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 6rem;
}

.preambula h3 {
  font-size: 1.3rem;
  padding: 2rem 0;
  color: rgb(103, 106, 108);
  font-weight: 700;
}
.preambula-p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-firago);
  -webkit-tap-highlight-color: transparent;
  width: 4px;
  height: 4px;
  border-radius: 12px;
}
.describe-termines h3 {
  font-size: 1.3rem;
  padding: 2rem 0;
  color: rgb(103, 106, 108);
  font-weight: 700;
}

.general-rules h3 {
  font-size: 1.3rem;
  padding: 2rem 0;
  color: rgb(103, 106, 108);
  font-weight: 700;
}

.general-rules span {
  color: rgb(103, 106, 108);
  font-weight: 700;
}

.general-rules p {
  font-size: 1.3rem;
  padding: 2rem 0;
  color: rgb(103, 106, 108);
  font-weight: 700;
}

.trade__politics-numeration {
  color: rgb(103, 106, 108);
  padding: 3rem 0;
}

/* განვადების გვერდის სტილები */

.instalment-seconde-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13.999999999999998pt;
  padding: 5rem;
  color: #000000;
  font-weight: 700;
}

.instalment-rules {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}
.instalment-rules img {
  align-self: center;
  padding: 2rem;
}

.nabiji2 {
  height: 197px;
  width: 602px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nabiji3 {
  width: 602px;
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nabiji4 {
  height: 436px;
  width: 602px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nabiji5 {
  height: 295px;
  width: 451px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instalment-rules span {
  font-size: 11pt;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

/* career გვერდების სტილი */
.career {
  font-size: 1.4rem;
}
.career-seconde-tittle h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 1.6rem;
}

.career-seconde-tittle h3 {
  font-size: 1.6rem;
  font-family: Calibri, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.career-history {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}
.career-history img {
  width: 232.967px;
  float: right;
  height: 232.967px;
}
.development-history img {
  width: 232.633px;
  float: right;
  height: 232.633px;
}
/* trade in გვერდების სტილი */
.trade__in {
  font-size: 1.4rem;
}
.trade-in-div-header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-firago);
  -webkit-tap-highlight-color: transparent;
}
.definitions-terms h3 {
  padding: 2rem 0;
}
.agreement h3,
.make-agreement h3,
.buy-sell-procedure h3,
.requirments h3,
.warranty-lability h3,
.contract h3 {
  padding: 2rem 0;
}

.offers,
.new-models {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
.offers__title,
.new-models__title {
  font-size: 1.4rem;
  margin-top: 5rem;
}
.offers__img,
.new-models__img {
  width: 100%;
  border-radius: 2rem;
  cursor: pointer;
}
